$red : #ed0200;
$red2 : #ff2d2d;
$red3 : #ce0000;
$yellow : #ffff26;
$yellow2 : #d8ff21;
$yellow3 : #c3c300;
$green : #88b811;
$green2 : #83e21d;
$blue : #3e8eff;
$blue2 : #0057d1;
$orange : #ff9900;
$orange2 : #ffa200;
$orange3 : #da6700;
$coral : #cf2a27;
$grey: #999;
$grey2: rgba(255,255,255,.1);
$grey3: #616161;

